body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1em;
  color: #333333;
  /**** background pattern from heropatterns *****/
  background-color: #92a3ff;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23aae8c2' fill-opacity='0.93'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

.app {
  margin: 0 auto;
  text-align: center;
  max-width: 700px;
}

:root {

  --ff-primary: 'Catamaran', sans-serif;
  --ff-secondary: 'Rampart One', cursive;

  --clr-pink: #FFA1D3;
  --clr-lavender: #CB98F0;
  --clr--blue: #92A3FF;
  --clr--green: #AAE8C2;
  --clr--turq: #5DABA9;


}

/***** Intro Page Styles ******/

.intro--container {
  background-color: white;
  width: 60%;
  padding: 1em 1em 2rem;
  margin: 5em auto 0;
  box-shadow: 15px 15px 0px #AAE8C2;

  
}

.intro--container > h1 {
  font-family: var(--ff-secondary);
  font-size: 5rem;
  margin: 0;
}

.intro--container > p {
  font-family: var(--ff-primary);
  font-weight: 600;
  font-size: 1rem;
  margin: .5em 0 2em;
  font-style: italic;
}

  .start--btn {
  background-color: var(--clr-lavender);
  box-shadow: 5px 5px 10px var(--clr--blue);
  border: 1px solid var(--clr-lavender);
  width: 60%;
  text-transform: uppercase; 
  font-weight: 600;
  border-radius: 10px;
  font-family: var(--ff-primary);
  font-size: 1.2rem;
}

.start--btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0,0,0,0.7);
}

.quiz--container {
  display: flex;
  justify-content: center;
  align-items: center;
}



/***** Quiz Page Styles *******/

.quiz {
  background-color: white;
  border: 1px solid var(--clr--blue);
  padding: 1em 1.15em;
  margin-top: 2em;
  box-shadow: 15px 15px 0px #AAE8C2;
}

.quiz > h1 {
  font-family: var(--ff-secondary);
  margin: 0;
  padding: .5em 0;
  font-size: 2rem;
  
}

.quiz--elements {
  padding-bottom: 2em;
}

.question {
  font-family: var(--ff-primary);
  font-weight: 600;
  font-size: 1.15rem;
  
}

.answers--btn {
  margin: .25em .5em 1em;
  padding: .25em 1em;
  border: 2px solid var(--clr--blue);
  border-radius: 10px;
  text-transform: uppercase;
  font-family: var(--ff-primary);
  font-weight: 600;
  font-size: .65rem;
}

.answers--btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(170,232,194, .9);
}


.check--answers--btn {
  background-color: var(--clr-lavender);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 15px var(--clr-lavender);
  font-family: var(--ff-primary);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  padding: .25em 2em;
  width: 60%;
  margin: .5em 0 1.5em;
}

.check--answers--btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0,0,0,0.7);
}

.results--container > .results {
  font-family: var(--ff-primary);
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0 auto;
}

.results--container > .score {
  font-family: var(--ff-primary);
  font-size: 1rem;
  
}

.play--again--btn {
  background-color: var(--clr--blue);
  border: none;
  border-radius: 5px;
  box-shadow: 2px 3px 10px var(--clr--blue);
  font-family: var(--ff-primary);
  font-weight: 600;
  text-transform: uppercase;
  padding: .25em 2em;
  margin: .5em 0 1.5em;
  font-size: 1rem;
  width: 60%;
}